[submodule "assignment-autotest"]
	path = assignment-autotest
	url = https://github.com/cu-ecen-aeld/assignment-autotest.git
[submodule "yocto"]
	path = yocto
	url = https://git.yoctoproject.org/poky
	branch = kirkstone
